@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Playfair+Display&family=Poppins&family=Roboto:wght@300&display=swap');

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Poppins',sans-serif;
    font-size: 10px;
    scroll-behavior: smooth;
    background: linear-gradient(navy,dodgerblue,lightblue,skyblue);
}



a{
    text-decoration: none;
}
.hamburger{
    position: fixed;
    top: 2rem;
    right: 3rem;
    padding: 0.5rem;
    cursor: pointer;
    z-index: 2000;
    
}

.hamburger i{
    font-size: 3rem;
    background: linear-gradient(to right, red 0%, hotpink 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.fa-times{
    display: none;
}

header::before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.9);
    transform: translate(-100%,-100%);
    opacity: 0;
    z-index: 999;
    transition: opacity 0.6s, transform 0.2s 0.6s;
}

.sidebar{
    background-color: #1f253d;
    position: fixed;
    top: 0;
    left: 0;
    width: 28rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.6rem;
    z-index: 1000;
    transform: translateX(-100%);
    transition: transform 0.6s cubic-bezier(0.95,0.05,0.795,0.035);
}

.nav-list{
    list-style: none;
}
.nav-item{
    position: relative;
}
.nav-item::before{
    content:"";
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0;
    background: linear-gradient(to right, #2af598 0%, #009efd 100%);

}
.nav-link{
    display: block;
    font-size: 1.3rem;
    color: rgba(255,255,255,0.4);
    text-transform: uppercase;
    line-height: 8rem;
    letter-spacing: 3px;
    transition: color 0.6s;
}
.nav-link:hover{
    color: rgba(255,255,255,0.8);
}
.nav-link.current{
    color: #ffffff;
}

.nav-link i{
    font-size: 2rem;
    margin-right: 1rem;
}
.social-media{
    display: flex;
    padding: 2rem;
}

.icon-link{
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    display: flex;
    transition: background-color 0.6s;
}
.icon-link:hover{
    background-color: rgba(0,0,0,0.3);
}
.icon-link i{
    margin: auto;
    font-size: 2.5rem;
    color: rgba(255,255,255,0.4);
    transition: color 0.6s;
}
.icon-link i{
    color: rgba(255,255,255,0.8);
}
main{
    perspective: 100rem;
}
.zoom-content{
    transform-style: preserve-3d;
    transition: transform 0.6s cubic-bezier(0.95,0.05,0.795,0.035);
}

.hero{
    width: 100%;
    height: 95vh;
    background-size: 100% 500px;
}

.active .fa-times{
    display: block;
}
.active .fa-bars{
    display: none;
}
header.active::before{
    transform: translate(0,0);
    opacity: 1;
    transition: opacity 0.6s;
}
.active .sidebar{
    transform: translateX(0);
}

.active .zoom-content{
    transform: translate3d(0, 0, -15rem);
}
@media screen and (max-width: 450px){
    .nav-link{
        line-height: 5rem;
    }
    .hamburger{
        top: 1.5rem;
        right: 1.5rem;
    }
}
@media screen and (max-width: 450px){
    .sidebar{
        width: 25rem;
    }
}

#ahref{
    text-decoration: none;
    font-size: 2rem;
    text-align: center;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}
#ahref>a{
    color: black;
}
#h1{
    font-size: 3.6rem;
    font-family: 'Playfair Display', serif;
    text-align: center;
    margin: 10px;
    color: white;
    text-decoration: underline;
}
.message1{
    display: flex;
    background-color: lightgray;
    border-radius: 100px;
}
.message1 img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.message1 p{
    font-size: 1.9rem;
    font-family: 'Poppins', sans-serif;
    margin-top: 50px;
}
.message2{
    display: flex;
    background-color: lightgray;
    border-radius: 100px;
}
.message2 img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.message2 p{
    font-size: 1.9rem;
    font-family: 'Poppins', sans-serif;
    margin-top: 50px;
}
.message3{
    display: flex;
    background-color: lightgray;
    border-radius: 100px;
}
.message3 img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.message3 p{
    font-size: 1.9rem;
    font-family: 'Poppins', sans-serif;
    margin-top: 50px;
}
.message4{
    display: flex;
    background-color: lightgray;
    border-radius: 100px;
}
.message4 img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.message4 p{
    font-size: 1.9rem;
    font-family: 'Poppins', sans-serif;
    margin-top: 50px;
}

hr{
    background-color: black;
}

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label { margin: 0; padding: 0; }


/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  font-size: 3rem;
  margin: auto;
  margin-right: 52rem;

}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 

#h11{
    font-size: 4.8rem;
    font-family: 'Playfair Display', serif;
    color: #662d91;
    text-align: center;
    display: none;

}

#head{
    font-size: 3.6rem;
    font-family: 'Playfair Display', serif;
    text-align: center;
    margin: 10px;
}
#p{
    font-size: 1.8rem;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
textarea{
    font-family: 'Poppins', sans-serif;
margin: auto;
margin-left: 47rem;
}
#h12{
    font-size: 3.6rem;
    font-family: 'Playfair Display', serif;
    text-align: center;
    margin: 10px;
}
input[type="submit"]{
    width: 150px;
    height: 30px;
    font-family: 'Poppins',sans-serif;
    border-radius: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #1f253d;
    color: white;
    margin-left: 575px;
}